

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	/* font-size: 16px;*/
	line-height: 1.7;
	color: $color-grey-dark;
	padding: 3rem;
	// background: linear-gradient(to right bottom ,rgba($color-primary-light, 0.8),rgba($color-primary-dark, 0.8));
}


.heading-primary {
	color: $color-white;
	text-transform: uppercase;
	backface-visibility: hidden;
	margin-bottom: 6rem;

	&--main {
		display: block;
		font-size: 2.4rem;
		font-weight: 400;
		letter-spacing: .5rem;
		animation-name: moveInLeft;
		animation-duration: 1s;
		animation-timing-function: ease-out
		
		/* 
		animation-iteration-count: 3;
		animation-delay: 3s; 
		*/
	}
	
	&--sub {
		display: block;
		font-size: 1.5rem;
		font-weight: 700;
		letter-spacing: .63rem;
		animation: moveInRight 1s ease-out;
		
	
	}
}
