.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
                        to right bottom ,
                        rgba(126, 213, 111, 0.8),
                        rgba(40, 180, 133, 0.8)) , 
                        url('https://images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-0.3.5&s=db802b72adc82f97904d37dde9d0d401&auto=format&fit=crop&w=1489&q=80');
    background-size: cover;

    transform: skewY(-7deg);
    margin-top: -10rem;

    //.section-features > * 

    & > * {
        transform: skewY(7deg);
    }
}

.section-packs {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;
}

.section-stories {
    padding: 5rem 0;
    background-color: $color-grey-light-1;
}